# GIT CONFLICT PREVENTION - CRITICAL FOR DASHBOARD RELIABILITY  
# Sync monitor repository every 30 minutes to prevent git conflicts
# Uses lightweight SLURM job to respect cluster policies
*/30 * * * * cd ~/research/weather-data-collector-spain && sbatch monitor_sync_slurm.sh
